package index 

import (
	"github.com/zarldev/go-base/ui/views/layouts/base"
)

templ Page() {
	@base.Container() {
		<h1>Welcome to the Index Page</h1>
		<p>This is the index page</p>
		<p>Here is a list of all the pages</p>
	}
}
